*{
	/*margin:0;*/
	padding:0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
html,body{
	background-color: #fff;
	color: #2f3640;
	font-family: 'Lato','Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden; 
}
header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/fondo_principal.JPG);
	background-size: cover;
	background-repeat: round;
	
	background-attachment: fixed;
}
.header_body{
	background-color:rgba(245, 245, 295, .75);
	height: 110vh;
	width: 1050px;
	margin: auto;
	padding: 5px;
}
.row {
	max-width: 1140px;
	margin: 0 auto;
}
ul {
	
	list-style-image: url(../vendors/fonts/checkmark.svg);
}
 
/*MENU DE NAVEGACION PRINCIPAL*/
.menu-navegacion {
	float: right;
	list-style: none;
	margin-top: 55px;
	font-size: 115%;
}
.menu-navegacion li {
	display: inline-block;
	margin-left: 0px;
}
.menu-navegacion li a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 100%;
	text-rendering: optimizeLegibility;
	color: #f1f2f6;
	margin-right: 25px;
	transition: color 0.3s;
}
.menu-navegacion li a:hover {
	color: #00b894;
}

/*******************************/

/*****IMAGEN PRINCIPAL**********/

/*.presentacion-img {
	position: relative;
	left: 30%;
}*/


.presentacion-text {
	text-align: center;
	color: #2f3640;
	line-height: 290%;
	word-spacing: 3px; 
	letter-spacing: 1px;
	margin-top: 155px;
}
.imagen-principal {
	width: 170px;
	height: 190px;
	margin: auto;
	border-radius: 100px; 
}
/*****************************/
h2 {
	text-align: center;
	border-bottom: 2px solid #eb4d4b;
	width: 400px;
	margin: auto;
	line-height: 2.2;
}

/***ICONOS PRINCIPAL***/
.iconos-header {
	text-align: center;
	list-style: none;
}
.iconos-header li {
	display: inline-block;
}
.iconos-header li ion-icon {
	text-decoration: none;
	font-size: 250%;
	color: #dfe6e9;
}
.ion-ico {
	transition: color 0.2s;
}

.ion-icon-logo-html5:hover {
	color: #fdcb6e
}
.ion-icon-logo-css3:hover {
	color: #0984e3
}
.ion-ico-logo-javascript:hover {
	color: #fdcb6e;
}
.ion-ico-code-working-outline:hover {
	color:#d63031;
}
/**********************/

.conoceme {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/fondo_body1.jpg);
	background-size: cover;
	background-repeat: round;
	background-attachment: fixed;
}
.Test {
	background-color:rgba(245, 245, 295, .75);
	width: 1050px;
	margin: auto;
	padding: 5px;
}

.long-copy p {
	line-height: 140%;
	font-size: 115%;
	margin: 55px 12px 55px 12px;
	text-align: justify;
}

.ion-icon-conoceme {
	color:#eb4d4b; 
	font-size: 205%;
	line-height: 320%;
	vertical-aling: middle;
	margin-top: -5px;
}

.presentacion {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
	text-align: center;
	font-size: 130%;
}
.IUJO {
	line-height: 145%;
}
.IUJO h3 {
	text-align: center;
}

/**********************/
.concretemos_body{
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/fondo_body1.jpg);
	background-size: cover;
	background-repeat: round;
	background-attachment: fixed;
}
.concretemos {
	background-color:rgba(245, 245, 295, .75);
	height: 70vh; 
	width: 1050px;
	margin: auto;
	padding: 5px;
}
.concretemos .detalles{
	margin-left: 120px;
}
.concretemos p {
	text-align: center;
}
.concretemos ul {line-height: 140%;}
.concretemos div details ul { list-style: inside; }
.concretemos div details { cursor: pointer; }
.concretemos div details summary {color: #d63031; } 
.concretemos div details summary b {color: black;}


.concretemos_js {
	
	display: inline-block;
	list-style: none;
}

/***********************************/

.donde_body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/fond.jpg);
	background-size: cover;
	background-repeat: round;
	background-attachment: fixed;
}
.donde { 
	background-color:rgba(245, 245, 295, .75);
	height: 80vh; 
	width: 1050px;
	margin: auto;
	padding: 5px;	
}
.donde div:last-child {
	margin: auto;
}
.donde p, h3{ text-align: center;}
.donde ul {line-height: 170%; width: 570px; margin: auto 25%; display: inline-table; }

.donde ul li a {
	text-decoration: none;
	color: #c23616;
	transition: color 0.2s, font-size 0.2s;
}
.donde ul li a:hover {
	color: #e84118;
	font-size: 115%;
}
/**************************/
.areas_interes_body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/fond.jpg);
	background-size: cover;
	background-repeat: round;
	background-attachment: fixed;
}

.areas_interes {
	background-color:rgba(245, 245, 295, .75);
	height: 75vh; 
	width: 1050px;
	margin: auto;
	padding: 5px;
}

.areas_interes p {
	text-align: justify;
	line-height: 155%;
	width: 625px;
	margin: auto;
	margin-top: 15px;
}
.a_darle { 
	margin-top: 15px;
	text-align: center;
	width: 825px;
	background: #badc58;
	margin: 25px auto;
	color:#ecf0f1;
}

/****************************/
.final_body {
	background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../img/footer_body1.jpg);
	background-size: cover;
	background-repeat: round;
	background-attachment: fixed;
}

.final {
	background-color:rgba(245, 245, 295, .75);
	width: 1050px;
	margin: auto;
	padding: 5px;

}
.final ul {
	text-align: center;
	line-height: 50%;
	width: 550px;
	margin: auto;
}
.final ul li {
	display: inline-block;
	text-decoration: none;
	list-style: none;
	font-size: 55px;
	color: #2f3640;
	padding: 25px;
	
}
.final ul li a {
	text-decoration: none;
	color: #353b48;
}
.despedida{ 
	text-align: center;
	color:#ecf0f1;
	width: 875px;
	height: 35px;
	background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5));
	margin: 2% auto;
	padding-top: 6px;
	border-radius: 100px;
}

.logo-linkedin:hover {
	color:#007bb5;
}
.logo-twitter:hover{
	color:#55acee;
}
.logo-instagram:hover{
	color:#bc2a8d;
}
.logo-github:hover{
	color:#000000;
}
.R{
	transition: color 0.2s;
	padding: 2px;
}
{
	color:rgba(245, 245, 195, .75);
}